/*  ========================================
    buttons.css - 
    ======================================== */

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: var(--radius-lg);
  font-family: var(--font-text);
  font-weight: var(--font-bold);

  transition:
    color,
    background-color 0.2s ease;
}

.btn--primary {
  background-color: var(--color-bg-primary);
  color: var(--color-text-white);

  box-shadow: var(--shadow-sm);
}

.btn-text {
  background: transparent;
}

.btn--secondary {
  background-color: var(--color-bg-white);
  color: var(--color-text-primary);
}

.btn--outline {
  border: 1px solid var(--color-border-white);
  color: var(--color-text-white);
  background: transparent;
  box-shadow: var(--shadow-sm);
}

@media (min-width: 48rem) {
  .btn--text {
    color: var(--color-text-white);
  }

  .btn--text:hover {
    text-decoration: underline;
  }

  .btn--primary {
    background-color: var(--color-bg-white);
    color: var(--color-text-primary);
  }

  .btn--primary:hover {
    background-color: var(--color-hover-primary);
    color: var(--color-text-white);
  }

  .btn--secondary:hover {
    background-color: var(--color-hover-primary);
    color: var(--color-text-white);
  }

  .btn--outline:hover {
    background-color: var(--color-hover-white);
    color: var(--color-text-primary);
  }
}

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition-duration: 0.01ms;
  }
}
