/* ===================================
   footer.css 
  ==================================== */

.footer {
  padding-block: var(--space-xxl);
  background-color: var(--color-bg-purple);
  border-top-right-radius: var(--radius-xl);
}

.footer__nav {
  inline-size: 90%;
}

.footer__logo {
  margin-block-end: var(--space-md);
}

.footer__link {
  color: var(--color-text-very-light-dark);
  transition: text-decoration 0.2s ease;
}

.footer__link:hover {
  text-decoration: underline;
}

@media (prefers-reduced-motion: reduce) {
  .footer__link {
    transition-duration: 0.01ms;
  }
}
