/*  ========================================
    header.css - 
    ======================================== */

.header {
  block-size: 100vh;

  background-color: var(--color-bg-primary);

  background-image: url("../../assets/patterns/bg-pattern-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: 320%;
  background-position: 35% 30%;

  border-bottom-left-radius: var(--radius-xl);
}

@media (min-width: 48rem) {
  .header {
    background-image: url("../../assets/patterns/bg-pattern-intro-desktop.svg");
    background-size: 250%;
    background-position: 30% 50%;
  }
}
