/*  ========================================
    header.css - 
    ======================================== */

.header {
  position: absolute; /* for hero section */
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  padding-block: var(--space-md);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  inline-size: 4.5rem;
  z-index: 90;
}

.header__nav {
  position: relative; /* for nav menu */
}

/* Media Queries */
@media (min-width: 48rem) {
  .header__nav {
    align-items: center;
    gap: var(--space-md);
    inline-size: 85%;
  }
}
