/*  ========================================
    header.css - 
    ======================================== */

.header {
  block-size: 100vh;

  background-color: var(--color-bg-primary);

  background-image:
    url("../../assets/patterns/bg-pattern-intro-mobile.svg"),
    linear-gradient(var(--color-gradient-orange), var(--color-gradient-red));
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position:
    35% 50%,
    center;

  border-bottom-left-radius: var(--radius-xl);
}

@media (min-width: 48rem) {
  .header {
    background-image:
      url("../../assets/patterns/bg-pattern-intro-desktop.svg"),
      linear-gradient(var(--color-gradient-orange), var(--color-gradient-red));
    background-size: auto, cover;

    background-position:
      33% 45%,
      center;
  }
}
