/*  ========================================
    hero.css - 
    ======================================== */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 70vh;
  padding-block: var(--space-md);
}

.hero__title {
  max-inline-size: 14ch;
  color: var(--color-heading-light);
}

.hero__description {
  color: var(--color-text-light);
}

@media (min-width: 48rem) {
  .hero__title {
    max-inline-size: 26ch;
  }
}
